<div class="navmenu">
    <input type="checkbox" title="Menu expand/collapse toggle" id="navmenu-toggle" class="navmenu-icon" />
    <label for="navmenu-toggle" class="navmenu-icon"><FluentIcon Value="@(new Icons.Regular.Size20.Navigation())" Color="Color.Neutral" /></label>
    <nav class="sitenav" aria-labelledby="main-menu" onclick="document.getElementById('navmenu-toggle').click()">
        <FluentNavMenu Id="main-menu" Title="Main menu">
            <FluentNavLink Icon="@(new Icons.Regular.Size20.Home())" Href="/" Match="NavLinkMatch.All">
                <h3>Overview</h3>
            </FluentNavLink>
            <FluentNavGroup Expanded="true" Title="Search" Gap="10px" Icon="@(new Icons.Regular.Size20.Search())">
                <FluentNavLink Href="/Search">Search Documents</FluentNavLink>
                <FluentNavLink Href="/Upload">Upload Documents</FluentNavLink>
            </FluentNavGroup>
            <FluentNavGroup Expanded="true" Title="Debugging" Gap="10px" Icon="@(new Icons.Regular.Size20.Bug())">
                <FluentNavLink Href="/Manage">Manage Search Index</FluentNavLink>
            </FluentNavGroup>
        </FluentNavMenu>
    </nav>
</div>
