<div class="search-container" fxLayout="column">
  <div class="search-bar" fxLayout="row" fxLayoutAlign="center center">
    <input #search type="search" (keyup.enter)="onKeyupEnter(search.value)" [formControl]="control" [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete">
      <ng-container *ngIf="suggestions$ | async as suggestions">
        <mat-option *ngFor="let suggestion of suggestions?.results" [value]="suggestion.text">
          <span [innerHtml]="suggestion.highlight"></span>
        </mat-option>
      </ng-container>
    </mat-autocomplete>
  </div>
  <div fxLayout="column" fxLayoutGap="25px" fxLayoutAlign="start center" class="search-results">
    <ng-container *ngIf="results$ | async as results">
      <mat-card class="search-result" *ngFor="let result of results?.results">
        <mat-card-content>
          <div class="search-result-header" fxLayout="column">
            <h3><a class="search-link" href="{{result.url}}">{{result.title}}</a></h3>
          </div>
          <div>
            <br/>
            <p><strong>Matches in Content:</strong></p>
            <ul>
              <li *ngFor="let match of result?.matches" ><span [innerHtml]="match"></span></li>
            </ul>
          </div>
          <div>
            <mat-chip-list aria-label="Keywords">
              <mat-chip *ngFor="let keyword of result?.keywords" color="accent">{{keyword}}</mat-chip>
            </mat-chip-list>
          </div>
        </mat-card-content>
        <mat-card-actions>
        </mat-card-actions>
      </mat-card>
    </ng-container>
  </div>
</div>
<button class="add-button" mat-mini-fab aria-label="Upload Button with Attachment Icon" (click)="openFileUploadDocument()">
  <mat-icon>add</mat-icon>
</button>