@namespace ElasticsearchFulltextExample.Web.Client.Components
@using ElasticsearchFulltextExample.Shared.Constants
@using ElasticsearchFulltextExample.Shared.Models
@using System.Text

<div class="code-box">
    <div class="code-box-title">
        <a href="@Item.Url">@Item.Filename</a>: @Item.Title
    </div>
    <div class="code-box-content">
        @foreach (var htmlMatch in HtmlMatches)
        {
            <p>@htmlMatch</p>
        }
    </div>
</div>

@code {

    /// <summary>
    /// Search Result.
    /// </summary>
    [Parameter]
    public required SearchResultDto Item { get; set; }

    /// <summary>
    /// The Prepared Matches.
    /// </summary>
    public List<MarkupString> HtmlMatches { get; set; } = new();

    protected override void OnParametersSet()
    {
        HtmlMatches = new();

        foreach(var match in Item.Matches)
        {
            var htmlString = new StringBuilder(match)
                .Replace(ElasticConstants.Highlighter.HighlightStartTag, "<strong>")
                .Replace(ElasticConstants.Highlighter.HighlightEndTag, "</strong>")
                .ToString();

            var markupString = new MarkupString(htmlString);

            HtmlMatches.Add(markupString);
       }
    }
}
