<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <HeadOutlet @rendermode="new InteractiveWebAssemblyRenderMode(prerender: false)" />
    <base href="/" />
    <link href="css/app.css" rel="stylesheet" />
    <link href="_content/Microsoft.FluentUI.AspNetCore.Components/css/reboot.css" rel="stylesheet" />
    <link href="ElasticsearchFulltextExample.Web.Server.styles.css" rel="stylesheet" />
</head>

<body>
    <loading-theme storage-name="theme"></loading-theme>

    <Routes @rendermode="new InteractiveWebAssemblyRenderMode(prerender: false)">
    </Routes>

    <div id="blazor-error-ui">
        An unhandled error has occurred.
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>
    <script src="_framework/blazor.web.js"></script>
</body>

</html>