@page "/Search"

@using ElasticsearchFulltextExample.Shared.Client
@using ElasticsearchFulltextExample.Web.Client.Components
@using ElasticsearchFulltextExample.Web.Client.Extensions;
@using ElasticsearchFulltextExample.Web.Client.Infrastructure;

@inject SearchClient SearchClient 

<PageTitle>Elasticsearch Code Search Experiments</PageTitle>

<div class="search-container">
    <div class="search-header">

        <div class="search-box">
            <FluentSearch @bind-Value="_queryString" @onkeyup="@EnterSubmit" Class="w-100" />
            <FluentButton @onclick=@QueryAsync>Search</FluentButton>
        </div>
    </div>
    <div class="search-results-total">
        <span>@_totalItemCount Results (@_tookInSeconds seconds)</span>
    </div>
    <div class="search-results">
@*         @foreach (var searchResult in _codeSearchResults)
        {
            <SearchResult Item="@searchResult"></SearchResult>
        }
 *@    </div>
    <div class="search-paginator">
        <Paginator State="@_pagination"></Paginator>
    </div>
</div>